class Dictionary {
  static Array WORDS;
  static int SIZE;

  function int size() {
    return SIZE;
  }

  function String word(int i) {
    return WORDS[i];
  }

  /** Make sure to call this function before playing. */
  function void init() {
    let SIZE = 100;
    let WORDS = Array.new(SIZE);
    let WORDS[0] = "ALBUM";
    let WORDS[1] = "APRON";
    let WORDS[2] = "ARMOR";
    let WORDS[3] = "AWAIT";
    let WORDS[4] = "BANJO";
    let WORDS[5] = "BARGE";
    let WORDS[6] = "BIKER";
    let WORDS[7] = "BLANK";
    let WORDS[8] = "BONUS";
    let WORDS[9] = "BRAIN";
    let WORDS[10] = "CABLE";
    let WORDS[11] = "CHILL";
    let WORDS[12] = "CHORD";
    let WORDS[13] = "CIVIL";
    let WORDS[14] = "COACH";
    let WORDS[15] = "COMMA";
    let WORDS[16] = "COVER";
    let WORDS[17] = "DEBIT";
    let WORDS[18] = "DELAY";
    let WORDS[19] = "DRESS";
    let WORDS[20] = "EMAIL";
    let WORDS[21] = "ENTER";
    let WORDS[22] = "ERROR";
    let WORDS[23] = "EXTRA";
    let WORDS[24] = "FLAIR";
    let WORDS[25] = "FLASH";
    let WORDS[26] = "FLOOD";
    let WORDS[27] = "GAVEL";
    let WORDS[28] = "GRAPE";
    let WORDS[29] = "GRAVY";
    let WORDS[30] = "GREED";
    let WORDS[31] = "GUEST";
    let WORDS[32] = "HAZEL";
    let WORDS[33] = "HEIST";
    let WORDS[34] = "HONOR";
    let WORDS[35] = "HOUND";
    let WORDS[36] = "HYENA";
    let WORDS[37] = "ICING";
    let WORDS[38] = "IMPLY";
    let WORDS[39] = "INDEX";
    let WORDS[40] = "JEWEL";
    let WORDS[41] = "KNEAD";
    let WORDS[42] = "LARGE";
    let WORDS[43] = "LASER";
    let WORDS[44] = "LEFTY";
    let WORDS[45] = "LIMIT";
    let WORDS[46] = "LOSER";
    let WORDS[47] = "LUNCH";
    let WORDS[48] = "MAGMA";
    let WORDS[49] = "MARCH";
    let WORDS[50] = "MEDAL";
    let WORDS[51] = "MOUSE";
    let WORDS[52] = "NURSE";
    let WORDS[53] = "OCCUR";
    let WORDS[54] = "ONION";
    let WORDS[55] = "ORBIT";
    let WORDS[56] = "OUNCE";
    let WORDS[57] = "PANEL";
    let WORDS[58] = "PANIC";
    let WORDS[59] = "PAPER";
    let WORDS[60] = "PRIZE";
    let WORDS[61] = "PULSE";
    let WORDS[62] = "QUICK";
    let WORDS[63] = "QUOTE";
    let WORDS[64] = "REALM";
    let WORDS[65] = "REPLY";
    let WORDS[66] = "RIVER";
    let WORDS[67] = "SAUCE";
    let WORDS[68] = "SEVEN";
    let WORDS[69] = "SLEEP";
    let WORDS[70] = "SMALL";
    let WORDS[71] = "SMART";
    let WORDS[72] = "SONIC";
    let WORDS[73] = "SPARE";
    let WORDS[74] = "SPOON";
    let WORDS[75] = "STING";
    let WORDS[76] = "STORY";
    let WORDS[77] = "STUDY";
    let WORDS[78] = "STUFF";
    let WORDS[79] = "SUITE";
    let WORDS[80] = "SWORD";
    let WORDS[81] = "SYRUP";
    let WORDS[82] = "THROW";
    let WORDS[83] = "TODAY";
    let WORDS[84] = "TRACE";
    let WORDS[85] = "TREAT";
    let WORDS[86] = "TWIST";
    let WORDS[87] = "VALID";
    let WORDS[88] = "VAULT";
    let WORDS[89] = "VENUE";
    let WORDS[90] = "VERGE";
    let WORDS[91] = "VISIT";
    let WORDS[92] = "WASTE";
    let WORDS[93] = "WHOLE";
    let WORDS[94] = "WINDY";
    let WORDS[95] = "WORSE";
    let WORDS[96] = "WORST";
    let WORDS[97] = "WRITE";
    let WORDS[98] = "YIELD";
    let WORDS[99] = "ZEBRA";
    return;
  }
}

